body {
  font-family: Arial, sans-serif;
  background-color:rgb(236, 224, 236);
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
  width: 100%;
}

main {
  background-color: white;
  color: black;
  padding: 5px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  font-size: 18px;
}

span {
  display: inline;
  padding: 40px;
}

img.suomi {
width: 30px;
}

img.russian {
  width: 30px;
}

img.kaksico {
display: block;
margin-left: auto;
margin-right: auto;
height: 80px;
width: 200px;
border: solid 2px;
border-radius: 8px;
}

.address {
display:block;
text-align: center;
}

header {
  background-color: #1a4050;
  color: #fff;
  padding: 1px;
}

img#jamo {
  height: 200px;
  width: 250px;
}

img#jbl {
  height: 200px;
  width: 150px;
}

img#jbl2 {
  height: 200px;
  width: 300px;
}

img#dyson {
  height: 260px;
  width: 250px;
}

img#dyson2 {
  height: 260px;
  width: 100px;
}

img#verkko {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 120px;
}

img#weber {
  height: 230px;
  width: 400px;
}


img#verkko:hover {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 125px;
}

img#mlc {
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: 80px;
  width:120px;
}

img#volkov {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 130px;
}

img#volkov:hover {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 85px;
  width: 135px;
}

nav {
  background-color: #70aed3;
  padding: 5px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li a {
  color: #333;
  text-decoration: none;
}

nav li a:hover {
  color: #fff;
  background-color: #211c63;
  padding: 0.2px;
  border-radius: 5px;
}

a {
  color: rgb(236, 224, 236)
}

.uppage {
  color:black;
  font-weight: 700;
}


a:hover {
  color:aqua;
  background-color: rgb(8, 6, 6);
}

a :visited {
  color: rgb(221, 48, 77);
}

#contacts {
  display: inline;
  word-spacing: 5px;
  text-align: center;
  color: white;
}

footer {
  height: 130px;
  background-color: #1a4050;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
