---
import "../styles/global.css";
import Kaksico from "../assets/img/Kaksico.jpg";
import russia from "../assets/img/russia.png";
import JBL1 from "../assets/img/JBL_1.jpg";
import JBL2 from "../assets/img/JBL_2.jpg";
import Dyson_1 from "../assets/img/Dyson_1.jpg";
import Dyson_2 from "../assets/img/Dyson_2.jpg";
import DeLonghi from "../assets/img/DeLonghi.png";
import verkko_logo from "../assets/img/verkko_logo.png";
import gigantti_logo from "../assets/img/gigantti_logo.png";
import power_logo from "../assets/img/power_logo.png";
import ikea_logo from "../assets/img/ikea_logo.png";
import bowshop from "../assets/img/bowshop.png";
import motonet_logo from "../assets/img/motonet_logo.png";
import Volkov_logo from "../assets/img/Volkov_logo.png";
import Logo_2 from "../assets/img/Logo_2.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kaksico</title>
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QHLNE2KKNR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QHLNE2KKNR');
</script>

  <body>
    <header>
      <h2 class="kaksico"><img class="kaksico" src={Kaksico.src} /></h2>
      <p class="address">Hameenkyläntie 370, 49900 Virolahti</p>
      <p class="address">y-tunnus: 3221384-4</p>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/page4/">Tuotteet/palvelut</a></li>
        <li><a href="#contacts">Yhteystiedot</a></li>
        <li style="float:right"><a href="/page2/"><img class="russian" src={russia.src} /></a></li>
      </ul>
    </nav>

    <main>
      <h2>Ketkä me olemme:</h2>
      <p>
        Olemme suomalainen kulutuselektroniikan ja keittiökoneiden myyntiin
        erikoistunut yritys. Meiltä voit tilata tavarat toimitettuna
        osoitteeseesi tai lähimpään postiin. Katso ja valitse tuotteet
        verkkosivuiltamme tai toimittajiemme verkkosivuilta. Lähetä sitten
        meille sähköpostilla linkki tuotteeseen, määrä, toimitusosoite.
        Vastaamme sinulle mahdollisimman nopeasti. Neuvomme sinua aina
        tavaroidesi toimitusmahdollisuuksista ja -ehdoista, jos asut ulkomailla.
        
        <br/><br/> <br/><br/>

        Voimme toimittaa sinulle tavaroita Suomen
        lisäksi myös Saksasta ja muista Euroopan unionin maista.
      </p><br /><br />

      <p>
        Tilaa tästä. Me voisimme järjestää kuljetuksen sinun kotiisi tai voisimme tilata sinun puolesta ja jäjrestää kaikkea muuta:
      </p> <br/> <br/>

      <a href="https://www.verkkokauppa.com/fi/" target="_blank">
            <img id="verkko" src={verkko_logo.src} /></a
          >
          <br />
          <a href="https://www.gigantti.fi/" target="_blank">
            <img id="verkko" src={gigantti_logo.src}  /></a
          >
          <br />
          <a href="https://www.power.fi/" target="_blank">
            <img id="verkko" src={power_logo.src} /></a
          >
          <br />
          <a href="https://www.ikea.fi/" target="_blank">
            <img id="verkko" src={ikea_logo.src} /></a
          >
          <br />
          <a href="https://www.motonet.fi/" target="_blank">
            <img id="verkko" src={motonet_logo.src} /></a
          >
          <br />
          <a href="http://bowshop.org/" target="_blank">
            <img id="verkko" src={bowshop.src} /></a
          >
          <br />
          <a href="https://multilingual-context.com/" target="_blank">
            <img id="mlc" src={Logo_2.src} /></a>
          <br />
          
          <br />
          <br />
      

      <a class="uppage" href="#">Ylös</a>

      
    </main>
    <br/><br/> <br/>
    
    <footer>
      <p id="contacts">
        <a href="mailto:kozlovfth38@gmail.com">kozlovfth38@gmail.com</a>
      </p>
      <br /><br />
      <p id="contacts">puhelin: +358404826411 (Viber), +4917645863826 (Whatsapp)</p>
      <h4>Copyright © 2023 Kaksico</h4>
    </footer>
  </body>
</html>
