---
import "../styles/global.css";
import Kaksico from "../assets/img/Kaksico.jpg";
import suomi from "../assets/img/suomi.png";
import JBL1 from "../assets/img/JBL_1.jpg";
import JBL2 from "../assets/img/JBL_2.jpg";
import Dyson_1 from "../assets/img/Dyson_1.jpg";
import Dyson_2 from "../assets/img/Dyson_2.jpg";
import DeLonghi from "../assets/img/DeLonghi.png"
import verkko_logo from "../assets/img/verkko_logo.png";
import gigantti_logo from "../assets/img/gigantti_logo.png";
import power_logo from "../assets/img/power_logo.png";
import ikea_logo from "../assets/img/ikea_logo.png";
import bowshop from "../assets/img/bowshop.png";
import motonet_logo from "../assets/img/motonet_logo.png";
import Volkov_logo from "../assets/img/Volkov_logo.png";
import Logo_2 from "../assets/img/Logo_2.png";
---

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaksico</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QHLNE2KKNR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QHLNE2KKNR');
</script>

<body>
  <header>
    <h2 class="kaksico"><img class="kaksico" src={Kaksico.src} /></h2>
    <p class="address">Hameenkyläntie 370, 49900 Virolahti</p>
    <p class="address">y-tunnus: 3221384-4</p>
  </header>
  <nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/page3/">Товары/услуги</a></li>
      <li><a href="#contacts">Контакты</a></li>
      <li style="float:right"><a href="/"><img class="suomi" src={suomi.src} /></a></li>
    </ul>
  </nav>

    <main>


    <p>
      Мы финская компания, специализирующаяся на продаже бытовой электроники и кухонной техники. <br /><br />
      Вы можете заказать у нас товар с доставкой по вашему адресу или ближайшему почтовому отделению. <br /><br />
      Просмотрите и выберите товары на нашем сайте или на сайтах наших поставщиков. Затем отправьте нам письмо со ссылкой на товар, количество, адрес доставки. <br /><br />
      Мы ответим вам по возможности быстро. Проконсультируем вас по поводу вариантов и условий доставки вашего товара, если вы проживаете в другой стране. <br /><br />
      Вы можете заказать у нас товар с доставкой по вашему адресу или ближайшему почтовому отделению. Указывая адрес доставки, обязательно указывайте ваш почтовый индекс.
    </p>
    <br/> <br/>

    <a href="https://www.verkkokauppa.com/fi/" target="_blank">
            <img id="verkko" src={verkko_logo.src} /></a
          >
          <br />
          <a href="https://www.gigantti.fi/" target="_blank">
            <img id="verkko" src={gigantti_logo.src}  /></a
          >
          <br />
          <a href="https://www.power.fi/" target="_blank">
            <img id="verkko" src={power_logo.src} /></a
          >
          <br />
          <a href="https://www.ikea.fi/" target="_blank">
            <img id="verkko" src={ikea_logo.src} /></a
          >
          <br />
          <a href="https://www.motonet.fi/" target="_blank">
            <img id="verkko" src={motonet_logo.src} /></a
          >
          <br />
          <a href="http://bowshop.org/" target="_blank">
            <img id="verkko" src={bowshop.src} /></a
          >
          <br />
          <a href="https://multilingual-context.com/" target="_blank">
            <img id="mlc" src={Logo_2.src} /></a>
          
          <br />
          <br />
    

    <a class="uppage" href="#">Вверх</a>
    <br/><br/> <br/>

    </main>

    <footer>
      <p id="contacts">
        <a href="mailto:kozlovfth38@gmail.com">kozlovfth38@gmail.com</a>
      </p>
      <br /><br />
      <p id="contacts">phone: +358404826411 (Viber), +4917645863826 (Whatsapp)</p>
      <h4>Copyright © 2023 Kaksico</h4>
    </footer>
    </body>
  </html>