---
import "../styles/global.css";
import Kaksico from "../assets/img/Kaksico.jpg";
import suomi from "../assets/img/suomi.png";
import JBL1 from "../assets/img/JBL_1.jpg";
import JBL2 from "../assets/img/JBL_2.jpg";
import Dyson_1 from "../assets/img/Dyson_1.jpg";
import Dyson_2 from "../assets/img/Dyson_2.jpg";
import DeLonghi from "../assets/img/DeLonghi.png"
import verkko_logo from "../assets/img/verkko_logo.png";
import gigantti_logo from "../assets/img/gigantti_logo.png";
import power_logo from "../assets/img/power_logo.png";
import ikea_logo from "../assets/img/ikea_logo.png";
import bowshop from "../assets/img/bowshop.png";
import motonet_logo from "../assets/img/motonet_logo.png";
import Volkov_logo from "../assets/img/Volkov_logo.png";
import Logo_2 from "../assets/img/Logo_2.png";
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kaksico</title>
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QHLNE2KKNR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QHLNE2KKNR');
</script>

  <body>
    <header>
      <h2 class="kaksico"><img class="kaksico" src={Kaksico.src} /></h2>
      <p class="address">Hameenkyläntie 370, 49900 Virolahti<p></p>
      <p class="address">y-tunnus: 3221384-4</p>
        <nav>
          <ul>
            <li><a href="/"> На главную </a></li>
            <li style="float:right"><a href="/page4/"><img class="suomi" src={suomi.src} /></a></li>
            <li><a href="https://ligovka.ru" target=_blank>€/₽ курс обмена сейчас</a></li>
          </ul>
        </nav>

        <main>
          <span>
            <a
              href="https://www.verkkokauppa.com/fi/product/491361/JBL-LSR305P-MkII-aktiivinen-2-tie-kaiutin-1kpl?gclid=CjwKCAjw0N6hBhAUEiwAXab-TRNgI2jhm_kxg4wgSwe3C-XtDyB0pm2w3b1Jc7k69AZJHAo3BBdq-xoCs88QAvD_BwE"
              target="_blank"
            >
              <img id="jbl" src={JBL1.src} /></a
            >
          </span>
          <span>
            <a
              href="https://www.verkkokauppa.com/fi/product/822361/JBL-Boombox-3-Bluetooth-kaiutin-musta"
              target="_blank"
            >
              <img id="jbl2" src={JBL2.src} /></a
            >
          </span>
          <span>
            <a
              href="https://www.verkkokauppa.com/fi/product/433883/Dyson-Cinetic-Big-Ball-Animal-Pro-2-polynimuri"
              target="_blank"
            >
              <img id="dyson" src={Dyson_1.src} /></a
            >
          </span>
          <span>
            <a
              href="https://www.fi.dyson.com/hiustenhoito/supersonic-hiustenkuivaaja/fuksia-rauta?gclid=CjwKCAjw0N6hBhAUEiwAXab-TW62JgVn6C3ZoMDEacXMYi5ISDPtrMCZrM8mqljbKNCH28UWvAJeuhoCjOUQAvD_BwE&gclsrc=aw.ds"
              target="_blank"
            >
              <img id="dyson2" src={Dyson_2.src} /></a
            >
          </span>
          <span>
            <a
              href="https://www.gigantti.fi/product/kodin-pienkoneet/kahvi-ja-tee/kahvikoneet/delonghi-magnifica-ecam22115b-kahvikone/334056"
              target="_blank"
            >
              <img id="jbl" src={DeLonghi.src} /></a
            >
          </span>
          <br /><br /><br /><br /><br />

          <h3>
            Вы можете сами выбрать товар на сайтах наших постащиков, и заказать
            его у нас с доставкой на ваш адрес:
          </h3>

          <p>
            Скопируйте ссылки на товары, которые вы хотите заказать. Вставьте их
            в сообщение электронной почты, с указанием количества единиц товара.
            Укажите адрес доставки. После этого мы вышлем вам подтверждение
            заказа с указанием сроков, или зададим вам дополние вопросы, если
            они возникнут. Логотипы ниже - это ссылки. Кликайте на них, и ищите
            то, что вам нужно на сайтах наших поставщиков.
          </p>

          <br/>

          <p>Вы можете посмотреть текущий курс обмена валют по ссылке вверху страницы</p>
          <br />

          <a href="https://www.verkkokauppa.com/fi/" target="_blank">
            <img id="verkko" src={verkko_logo.src} /></a
          >
          <br />
          <a href="https://www.gigantti.fi/" target="_blank">
            <img id="verkko" src={gigantti_logo.src}  /></a
          >
          <br />
          <a href="https://www.power.fi/" target="_blank">
            <img id="verkko" src={power_logo.src} /></a
          >
          <br />
          <a href="https://www.ikea.fi/" target="_blank">
            <img id="verkko" src={ikea_logo.src} /></a
          >
          <br />
          <a href="https://www.motonet.fi/" target="_blank">
            <img id="verkko" src={motonet_logo.src} /></a
          >
          <br />
          <a href="http://bowshop.org/" target="_blank">
            <img id="verkko" src={bowshop.src} /></a
          >
          <br />
          <a href="https://multilingual-context.com/" target="_blank">
            <img id="mlc" src={Logo_2.src} /></a>
          <br />

          <br /><br /><br /><br /><br /><br /><br />

          <a class="uppage" href="#">Вверх</a>
          <br/><br/> <br/>
        </main>

        <footer>
          <p id="contacts">
            <a href="mailto:kozlovfth38@gmail.com">kozlovfth38@gmail.com</a>
          </p>
          <br /><br />
          <p id="contacts">phone: +358404826411 (Viber), +4917645863826 (Whatsapp)</p>
          <h4>Copyright © 2023 Kaksico</h4>
        </footer>
      </p>
    </header>
  </body>
</html>
